<!DOCTYPE html>
<html>
  <head>

    <title>Slick</title>

    <%= stylesheet_link_tag 'application', media: 'all'%>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      window.slackLogo = "<%= image_url('SLICK_300dpi.png') %>";
      window.createTeam = "<%= image_url('create_team.png') %>";
      window.splash1 = "<%= image_url('splash-1.png') %>";
      window.splashVideoPoster = '<%= image_url('brand-campaign_inline-poster.png') %>'
      window.splashVideo = '<%= video_url('brand-campaign_inline-video.mp4') %>'
    </script>

    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    
    <%= csp_meta_tag %>

    <% if current_user %>
      <script>
      window.currentUser = {
        'email': '<%= current_user.email %>'
      }
    </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
